@import url(common.css);

body {
  font-family: "Gibson", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: orange;

  position: relative;
}

header {
  background-color: #000000B3;

  width: 100%;
  position: fixed;
  top: 0;

}

header .inner-header {
  width: 45%;
  margin: 0 auto;
  padding: 5px 0;

  display: flex;
  justify-content: space-between;
}

header .inner-header .logo-box a {

}

header .inner-header .logo-box img {
  width: 243px;
  height: 53.5px;
}

header .inner-header .menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* header .inner-header .menu-box span.lnr-menu {
  font-size: 30px;
  color: white;
} */

header .inner-header .menu-box .button-box-wrap {
  width: 37px;
  height: 30px;

  display: flex;
  flex-flow: column;
  
  justify-content: space-between;
}

/* header .inner-header .menu-box a.button-box:hover {
  cursor: pointer;
} */

header .inner-header .menu-box .button-box-wrap .button {

  width: 37px;
  height: 7px;
  background: white;
}

/* video-box */

.bg-video {
  height: 700px;
  overflow: hidden;


  position: absolute;
  top: 0;
  left: 0;

  position: relative;
}

.bg-video video.video-content {
  position: absolute;
  z-index: -1;

  width: 100%;
}

.bg-video h1 {
  position: absolute;
  z-index: 1;

  font-size: 48px;
  line-height: 54px;
  width: 100%;
  color: white;
  font-weight: 400;

  margin-left: 520px; 
  margin-top: 450px;
}

.bg-video h1 strong {
  font-weight: 700;
}

/* 화살표버튼을 감싸는 박스 */
.bg-video div.angle-down-box {
  position: absolute;
  z-index: 1;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 650px;
}

.bg-video div.angle-down-box span {
  color: white;
  font-size: 30px;
}






